header {
  align-items:center;
  justify-content:center;
  background: rgba(122, 121, 121, 0.05);
  padding: 0px;
  position: fixed;
  top:0;
  width: 100%;
  margin-bottom: 100px;
  transition: all 0.8s ease-in-out;
  backdrop-filter: blur(10px);
  z-index: 5;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  font-family:'Times New Roman', Times, serif;
}
header::before{
  content: '';
  position:absolute;
  top:0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2)) transparent;
  transition: .3s;
  border-bottom-color: aliceblue;
  border-bottom: 1px solid rgb(223, 219, 219, .5);
}
header:hover::before{
  left: 100%;
}
header:hover{
  background-color: transparent;
  backdrop-filter: blur(150px);
}
nav {
  margin: 0;
  display: flex;
  align-items: center; 
  flex-wrap:wrap;
  float:right;
  margin-right: 120px;
  gap: 50px;
}
.logo img{
  display: flex;
  float: left;
  height: 4%;
  width: 4%;
  padding: 5px;
}

nav  button{
  text-decoration: none;
  color: white;
  position: relative;
  font-weight: 300;
  font-size: 24px;
  padding: 30px 20px;
  display: inline-block;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  border-style: none;
}
nav button:hover , button span:hover{
  text-shadow: 5px 5px 5px rgba(255, 255, 255, 1);
}
nav #HISTOIRE{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

nav #HISTOIRE:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

nav #HISTOIRE:hover {
  padding-right: 25px;
}

nav #HISTOIRE:hover::after{
  opacity: 1;
  right: 0;
}


nav #ECONOMIE{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

nav #ECONOMIE:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

nav #ECONOMIE:hover {
  padding-right: 25px;
}

nav #ECONOMIE:hover::after{
  opacity: 1;
  right: 0;
}

nav #FONCTIONNEMENT{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

nav #FONCTIONNEMENT:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

nav #FONCTIONNEMENT:hover {
  padding-right: 25px;
}

nav #FONCTIONNEMENT:hover::after{
  opacity: 1;
  right: 0;
}

nav #ETHIQUE{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

nav #ETHIQUE:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

nav #ETHIQUE:hover {
  padding-right: 25px;
}

nav #ETHIQUE:hover::after{
  opacity: 1;
  right: 0;
}

body{

  color: white;
  
  font-family: Arial, Helvetica, sans-serif;

}
.modee{
  margin-top: 10%;
}


h2,h1{
  color: red;
}

.section-ethique img{
  width: 20%;
  display: inline-block;
  margin-left: 25%;
}

.bloc-ethique p {
  background-color: grey;
  padding: 20px;
  border-radius: 20px;
  width: 25%;
  height: 100px;
  float: right;
  margin-right: 25%;
  


}


.section-ethique{margin-top: 100px;}

.section-ethique h1{
  text-align: center;
}



.section-introduction h2{
  text-align: center;
}

.bloc-introduction p {
  background-color: grey;
  padding: 20px;
  width: 30%;
  border-radius: 20px;
  margin-left: 369px;
  
  }

.section-introduction img{
  float: right;
  width: 20%;
 
}

.section-principes h2{
  text-align: center;
  margin-left: 40px;
}


.section-principes img{
   width: 19%;
   float: left;
   margin-left: 30%;
}
.bloc-principes{
  background-color: grey;
  padding: 20px;
  width: 30%;
  border-radius: 20px;
  margin-left: 50% ;
  
  }

.section-introduction img{
  float: right;
  width: 20%;
 
}

.section-benefices h2{
  text-align: center;
  margin-right: 700px;
}

.section-benefices img{
  float: right;
  width: 17%;
  margin-right: 29%;}


.bloc-benefices p{
  background-color: grey;
  padding: 20px;
  width: 20%;
  border-radius: 20px;
  margin-left: 28%;

}

.section-cas h2{
    text-align: center;
}

.section-cas img{
  width: 20%;
  margin-left: 25%;
  
}
.bloc-cas{
    background-color: grey;
    padding: 20px;
    border-radius: 20px;
    width: 35%;
    float: right;
    margin-right: 150px;
}


footer{bottom: 15%;}
